> **Requirement**: Baca reqirement yang ada di Sub Bab 10 (day_10)

In [11]:
//Load Library
%%classpath add mvn
tech.tablesaw tablesaw-beakerx 0.35.0
com.jimmoores quandl-tablesaw 2.0.0
com.github.haifengl smile-core 1.5.2
tech.tablesaw tablesaw-excel 0.35.0
tech.tablesaw tablesaw-json 0.35.0
org.xerial sqlite-jdbc 3.28.0
org.jsoup jsoup 1.11.3

# 11. Data Ingestion 

 * [A. Pengenalan](#A.-Pengenalan)
 * [B. Mengimpor Data Dari File CSV](#B.-Mengimpor-Data-Dari-File-CSV)
 * [C. Mengekspor Data Dari File CSV](#C.-Ekspor-Data-Kedalam-File-CSV)
 * [D. Mengimpor Data Dari File Excel](#D.-Mengimpor-Data-Dari-File-Excel)
 * [E. Menggabungkan Data Dari Beberapa File](#E.-Menggabungkan-Data-Dari-Beberapa-File-Excel)
 * [F. Mengimpor Data Dari JSON](#F.-Mengimpor-Data-Dari-JSON)
 * [G. Mengimpor Data Dari Website Atau API](#G.-Mengimpor-Data-Dari-Website-Atau-API)
 * [H. Manipulasi Data Dari Database](#H.-Mengimpor-Data-Dari-Database)
 * [I. Ekstraksi Data Dari Website](#I.-Ektraksi-Data-Dari-Suatu-Website)

In [13]:
%import static tech.tablesaw.aggregate.AggregateFunctions.*
%import tech.tablesaw.api.*
%import tech.tablesaw.columns.*
%import smile.clustering.*
%import smile.regression.*

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

null

## A. Pengenalan 
Data Ingestion adalah tahap pertama dari analisis data adalah mendapatkan data kemudian memindahkan data dari sumber data (data source) ke dalam stored dari *analitics tools* yang akan kita gunakan.

Data frame dari Class *Table* mendukung untuk melakukan import dan export data dari berbagai data sumber(data source). Berikut ini format data sour yang didukung. 

| Format                         | Import | Export |
| :----------------------------- | :----- | :----- |
| CSV (and other delimited text) | Yes    | Yes    |
| JSON                           | Yes    | Yes    |
| Excel                          | Yes    | Yes    |
| RDBMS (via JDBC)               | Yes    |        |

## B. Mengimpor Data Dari File CSV

Biasanya data didapat dari suatu file dengan format tertentu atau dari database. Kode berikut ini adalah cara mengimpor data dari suatu file CSV.

**Listing 11-1.** Loading Data from CSV File

``` javascript
import tech.tablesaw.api.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfSmallgrade= Table.read().csv("datasets/smallgradesh.csv");

//print dataset structure
System.out.println(dfSmallgrade.structure());

//Menampilkan  ordo data frame Binatang 

System.out.println(dfSmallgrade.shape())

//Menampilkan  5 baris data yang pertama dari data frame Binatang 

System.out.println(dfSmallgrade.first(5))

//Menampilkan 5 baris data yang terakhir dari data frame Binatang

System.out.println(dfSmallgrade.last(5))

//Menampilkan semua data dari  frame Binatang

System.out.println(dfSmallgrade.print());

``` 
#### Latihan 11-1
Lakukan Eksekusi dari kode *Listing 10-1* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [7]:
//kode Latihan 11-1
import tech.tablesaw.api.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfSmallgrade= Table.read().csv("datasets/smallgradesh.csv");

//print dataset structure
System.out.println(dfSmallgrade.structure());

//Menampilkan  ordo data frame Binatang 

System.out.println(dfSmallgrade.shape());

//Menampilkan  5 baris data yang pertama dari data frame Binatang 

System.out.println(dfSmallgrade.first(5));

//Menampilkan 5 baris data yang terakhir dari data frame Binatang

System.out.println(dfSmallgrade.last(5));

//Menampilkan semua data dari  frame Binatang

System.out.println(dfSmallgrade.print());

      Structure of smallgradesh.csv
 Index  |  Column Name  |  Column Type  |
-----------------------------------------
     0  |         Name  |       STRING  |
     1  |        Grade  |       DOUBLE  |
2000 rows X 2 cols
  smallgradesh.csv
  Name    |  Grade  |
---------------------
  Marcia  |   82.4  |
  Kadeem  |   78.2  |
    Nash  |   79.3  |
 Noelani  |   83.2  |
 Noelani  |   87.4  |
   smallgradesh.csv
   Name     |  Grade  |
-----------------------
      Cody  |   80.1  |
 Geraldine  |    100  |
  Mercedes  |   84.9  |
    Lucius  |   69.1  |
     Linus  |   79.6  |
   smallgradesh.csv
   Name     |  Grade  |
-----------------------
    Marcia  |   82.4  |
    Kadeem  |   78.2  |
      Nash  |   79.3  |
   Noelani  |   83.2  |
   Noelani  |   87.4  |
      Neil  |   88.7  |
     Nelle  |   80.2  |
   Armando  |   95.1  |
   Illiana  |   76.5  |
      Neil  |   89.7  |
       ...  |    ...  |
     Adena  |   70.2  |
     Craig  |   64.9  |
  Isabelle  |   78.5  |
      Risa  |   74.3  |
   Emerson  |   67.5  |
      Cody  |   80.1  |
 Geraldine  |    100  |
  Mercedes  |   84.9  |
    Lucius  |   69.1  |
     Linus  |   79.6  |

null

## C. Ekspor Data Kedalam File CSV

Kita bisa melakukan penyimpanan dari hasil analisis data kita secara permanen. Atau kita akan melakukan transfer data ke dalam tools lain. Berikut ini adalah cara menympan data secara permanen ke dalam file CSV dari suatu data frame.

**Listing 11-2.** Export Data to CSV File
``` javascript

//Inisialisasi pembuatan data frame Animals dengan Kolom animals dan Kolom cuteness
Table Binatang = Table.create("Cute Animals")
                     .addColumns(StringColumn.create("AnimalName", daftarbinatang),
		                         DoubleColumn.create("Rating", gradekelucuan));

//Menyimpan data frame Binatang ke dalam file CSV
Binatang.write().csv("datasets/BinatangRate.csv");
```

#### Latihan 11-2
1. Lakukan Eksekusi dari kode *Listing 11-2*. dan amatilah hasilnya, 
2. Rubahlah kode *Listing 11-2*. diatas dengan menyimpan data dari data frame dengan nama file sesuai NIM anda. pada pada bidang baris dibawah ini dan.

In [10]:
//Latihan 11-2.1
//Inisialisasi pembuatan data frame Animals dengan Kolom animals dan Kolom cuteness
//init objek
String[] daftarbinatang = {"bear", "cat", "giraffe"};

//Kolom cuteness bertipe array double
double[] gradekelucuan = {90.1, 84.3, 99.7};

Table Binatang = Table.create("Cute Animals")
                     .addColumns(StringColumn.create("AnimalName", daftarbinatang),
                                 DoubleColumn.create("Rating", gradekelucuan));

//Menyimpan data frame Binatang ke dalam file CSV
Binatang.write().csv("datasets/BinatangRate.csv");

null

In [11]:
//Latihan 11-2.2
//Inisialisasi pembuatan data frame Animals dengan Kolom animals dan Kolom cuteness
//init objek
String[] daftarbinatang = {"bear", "cat", "giraffe"};

//Kolom cuteness bertipe array double
double[] gradekelucuan = {90.1, 84.3, 99.7};

Table Binatang = Table.create("Cute Animals")
                     .addColumns(StringColumn.create("AnimalName", daftarbinatang),
                                 DoubleColumn.create("Rating", gradekelucuan));

//Menyimpan data frame Binatang ke dalam file CSV
Binatang.write().csv("datasets/12181633.csv");

null

## D. Mengimpor Data Dari File Excel
 Kode berikut ini adalah cara mengimpor data dari suatu file Excel.

**Listing 11-3.** Import Data From Excel File
``` javascript
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/data1.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

////Menampilkan struktur data frame dfDataXLS
System.out.println(dfDataXLS.structure());

//Menampilkan 5 baris data yang terakhir dari data frame dfDataXLS
System.out.println(dfDataXLS.first(10));

```
#### Latihan 11-3
 1. Lakukan Eksekusi dari kode *Listing 11-3* pada pada bidang baris dibawah ini dan amatilah hasilnya
 2. Ubahlah untuk *Latihan 11-3* menampilkan 10 baris data terakhir dari file data3.xlsx

In [9]:
//Latihan 11-3.1
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/data1.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

////Menampilkan struktur data frame dfDataXLS
System.out.println(dfDataXLS.structure());

//Menampilkan 5 baris data yang terakhir dari data frame dfDataXLS
System.out.println(dfDataXLS.first(5));

         Structure of data1.xlsx
 Index  |  Column Name  |  Column Type  |
-----------------------------------------
     0  |        fname  |       STRING  |
     1  |          age  |      INTEGER  |
     2  |        grade  |      INTEGER  |
          data1.xlsx
   fname    |  age  |  grade  |
-------------------------------
     Baker  |   14  |     90  |
 Josephine  |   19  |    100  |
    Calvin  |   15  |     66  |
    Aretha  |   17  |     84  |
 Britanney  |   19  |     66  |
      Cruz  |   15  |     98  |
    Caesar  |   15  |     69  |
    Ariana  |   15  |     99  |
    Kieran  |   14  |     93  |
    Tanner  |   17  |    100  |

null

In [14]:
//Latihan 11-3.2
//Latihan 11-3.1
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/data1.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

//Menampilkan 10 baris data yang terakhir dari data frame dfDataXLS
System.out.println(dfDataXLS.last(10));

         Structure of data1.xlsx
 Index  |  Column Name  |  Column Type  |
-----------------------------------------
     0  |        fname  |       STRING  |
     1  |          age  |      INTEGER  |
     2  |        grade  |      INTEGER  |
          data1.xlsx
   fname    |  age  |  grade  |
-------------------------------
   Chelsea  |   16  |     72  |
      Ryan  |   18  |     97  |
     Damon  |   17  |     91  |
     Sonya  |   17  |     77  |
     Lacey  |   14  |     97  |
 Shaeleigh  |   18  |     82  |
    Vielka  |   14  |     80  |
   Shelley  |   14  |     75  |
   Merritt  |   15  |     73  |
   Desirae  |   16  |     69  |

null

## E. Menggabungkan Data Dari Beberapa File Excel

 Kode berikut ini adalah cara mengimpor data dari beberapa file Excel kedalam sebuah data frame

**Listing 11-4.** Import Data From Excel File

``` javascript

import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
XlsxReader reader = new XlsxReader();

//membaca file data1.xlsx
XlsxReadOptions file1 = XlsxReadOptions.builder("datasets/data1.xlsx").build();

//membaca file data1.xlsx
XlsxReadOptions file2 = XlsxReadOptions.builder("datasets/data2.xlsx").build();

//memasukan data file data1.xlsx ke dataframe data1
Table data1 = reader.read(file1);

//memasukan data file data2.xlsx ke dataframe data2
Table data2 = reader.read(file2);

//menampilkan data yang ada di dataframe data1
System.out.println(data1.last(5)); 

//menampilkan summary data yang ada di dataframe data1 kolom "grade"
System.out.println(data1.summarize("grade", mean, max, min).apply());

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = data1.append(data2);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.last(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("grade", mean, max, min).apply());

```
#### Latihan 11-4
 1. Lakukan Eksekusi dari kode *Listing 11-4* pada pada bidang baris dibawah ini dan amatilah hasilnya
 2. Rubah kode *Listing 11-4* untuk menggabungkan data yang ada pada file excel data1.xlsx, data2.xlsx dan data3.xlsx
 3. lakukan summarize dari latihan 11-4 point 2

In [15]:
//Latihan 11-4.1
import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
XlsxReader reader = new XlsxReader();

//membaca file data1.xlsx
XlsxReadOptions file1 = XlsxReadOptions.builder("datasets/data1.xlsx").build();

//membaca file data1.xlsx
XlsxReadOptions file2 = XlsxReadOptions.builder("datasets/data2.xlsx").build();

//memasukan data file data1.xlsx ke dataframe data1
Table data1 = reader.read(file1);

//memasukan data file data2.xlsx ke dataframe data2
Table data2 = reader.read(file2);

//menampilkan data yang ada di dataframe data1
System.out.println(data1.last(5)); 

//menampilkan summary data yang ada di dataframe data1 kolom "grade"
System.out.println(data1.summarize("grade", mean, max, min).apply());

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = data1.append(data2);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.last(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("grade", mean, max, min).apply());

          data1.xlsx
   fname    |  age  |  grade  |
-------------------------------
 Shaeleigh  |   18  |     82  |
    Vielka  |   14  |     80  |
   Shelley  |   14  |     75  |
   Merritt  |   15  |     73  |
   Desirae  |   16  |     69  |
               data1.xlsx summary
 Mean [grade]  |  Max [grade]  |  Min [grade]  |
------------------------------------------------
        82.79  |          100  |           65  |
          data1.xlsx
  fname    |  age  |  grade  |
------------------------------
   Flavia  |   16  |     66  |
   Pamela  |   17  |     70  |
    Wilma  |   17  |     87  |
     Jack  |   18  |     78  |
 Charissa  |   18  |     95  |
               data1.xlsx summary
 Mean [grade]  |  Max [grade]  |  Min [grade]  |
------------------------------------------------
       83.135  |          100  |           65  |

null

In [16]:
//Latihan 11-4.2
import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
XlsxReader reader = new XlsxReader();

//membaca file data1.xlsx
XlsxReadOptions file1 = XlsxReadOptions.builder("datasets/data1.xlsx").build();

//membaca file data2.xlsx
XlsxReadOptions file2 = XlsxReadOptions.builder("datasets/data2.xlsx").build();

//membaca file data3.xlsx
XlsxReadOptions file3 = XlsxReadOptions.builder("datasets/data3.xlsx").build();

//memasukan data file data1.xlsx ke dataframe data1
Table data1 = reader.read(file1);

//memasukan data file data2.xlsx ke dataframe data2
Table data2 = reader.read(file2);

//memasukkan data file data3.xlsx ke dataframe data3
Table data3 = reader.read(file3);

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di di datagabung
Table datagabung = data1.append(data2);

//menggabungkan data pada dataframe gabungan 1 dan 2 dengan dataframe 3
Table dataGabungSemua = datagabung.append(data3);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(dataGabungSemua.last(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(dataGabungSemua.summarize("grade", mean, max, min).apply());

         data1.xlsx
  fname   |  age  |  grade  |
-----------------------------
   Clare  |   17  |     69  |
    Sade  |   14  |     85  |
 Michael  |   16  |     91  |
   Ocean  |   15  |     98  |
   Wanda  |   17  |     97  |
                 data1.xlsx summary
   Mean [grade]     |  Max [grade]  |  Min [grade]  |
-----------------------------------------------------
 82.92333333333333  |          100  |           65  |

null

## F. Mengimpor Data Dari JSON
JSON (JavaScript Object Notation) adalah format pertukaran data yang ringan, mudah dibaca dan ditulis oleh manusia, serta mudah diterjemahkan dan dibuat (generate) oleh komputer. Format ini dibuat berdasarkan bagian dari Bahasa Pemprograman JavaScript, Standar ECMA-262.  Kode berikut ini adalah cara mengimpor data dari suatu JSON.

**Listing 11-4.** Import Data From JSON
``` javascript
import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file product.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/product.json").build();

//memasukan data fileJSON ke dataframe 
Table tabeljson = reader.read(fileJSON);

//menampilkan structure dataframe tabeljson
System.out.println(tabeljson.structure());

//menampilkan 4 data terkhir pada dataframe tabeljson
System.out.println(tabeljson.first(4));
```
#### Latihan 11-4
Lakukan Eksekusi dari kode *Listing 10-4* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [3]:
//Latihan 10-4
import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file product.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/product.json").build();

//memasukan data fileJSON ke dataframe 
Table tabeljson = reader.read(fileJSON);

//menampilkan structure dataframe tabeljson
System.out.println(tabeljson.structure());

//menampilkan 4 data terkhir pada dataframe tabeljson
System.out.println(tabeljson.first(4));

        Structure of product.json
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |      quantity  |      INTEGER  |
     1  |      _id.$oid  |       STRING  |
     2  |      supplier  |       STRING  |
     3  |     unit_cost  |       STRING  |
     4  |  product_name  |       STRING  |
                                              product.json
 quantity  |          _id.$oid          |      supplier      |  unit_cost  |        product_name        |
---------------------------------------------------------------------------------------------------------
      261  |  5968dd23fc13ae04d9000001  |        Wisozk Inc  |     $10.47  |        sildenafil citrate  |
      292  |  5968dd23fc13ae04d9000002  |   Keebler-Hilpert  |      $8.74  |  Mountain Juniperus ashei  |
      211  |  5968dd23fc13ae04d9000003  |  Schmitt-Weissnat  |     $20.53  |      Dextromathorphan HBr  |

null

## G. Mengimpor Data Dari Website Atau API

Cara yang lebih fleksibel dalam mengakses data source adalah langsung mengakses dari sumber data langsung dari internet atau suatu web site tertentu baik melalui API ada file yang ditempatkan secara public pada mesin tertentu.

**Listing 11-5.** Import Data Dari Website
``` javascript
import java.io.*;
import java.net.*;
import tech.tablesaw.api.*;
import tech.tablesaw.api.ColumnType;

tech.tablesaw.beakerx.TablesawDisplayer.register();

// Inisialisasi alamat URL
String alamatURL = "https://raw.githubusercontent.com/jtablesaw/tablesaw/master/data/bush.csv";

//inisialisasi objek data frame dfBush
Table dfBush; 

//mengakses alamatURL melalui objek input
try (InputStream input = new URL(alamatURL).openStream()) {

   //memasukan data hasil objek input ke dalam data frame dfBush  
   dfBush = Table.read().csv(input, "bush"); 
   
   //menampilkan structure dfBush
   System.out.println(dfBush.structure()); 

   //menampilkan 4 baris pertama data dataframe dfBush
   System.out.println(dfBush.first(4)); 
} catch (IOException e) {
  // TODO Auto-generated catch block
   e.printStackTrace();
}   
``` 
#### Latihan 11-5
Lakukan Eksekusi dari kode *Listing 11-5* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [4]:
//Latihan 11-5
import java.io.*;
import java.net.*;
import tech.tablesaw.api.*;
import tech.tablesaw.api.ColumnType;

tech.tablesaw.beakerx.TablesawDisplayer.register();

// Inisialisasi alamat URL
String alamatURL = "https://raw.githubusercontent.com/jtablesaw/tablesaw/master/data/bush.csv";

//inisialisasi objek data frame dfBush
Table dfBush; 

//mengakses alamatURL melalui objek input
try (InputStream input = new URL(alamatURL).openStream()) {

   //memasukan data hasil objek input ke dalam data frame dfBush  
   dfBush = Table.read().csv(input, "bush"); 

   //menampilkan structure dfBush
   System.out.println(dfBush.structure()); 

   //menampilkan 4 baris pertama data dataframe dfBush
   System.out.println(dfBush.first(4)); 
} catch (IOException e) {
  // TODO Auto-generated catch block
   e.printStackTrace();
}

            Structure of bush
 Index  |  Column Name  |  Column Type  |
-----------------------------------------
     0  |         date  |   LOCAL_DATE  |
     1  |     approval  |      INTEGER  |
     2  |          who  |       STRING  |
               bush
    date     |  approval  |  who  |
-----------------------------------
 2004-02-04  |        53  |  fox  |
 2004-01-21  |        53  |  fox  |
 2004-01-07  |        58  |  fox  |
 2003-12-03  |        52  |  fox  |

null

## H. Mengimpor Data Dari Database

Kita juga bisa mengakses data source dari suatu database dengan perintah- perintah query.
Kode dibawah ini adalah cara menginisialisasi sebuah data frame dari suatu objek database. 
``` javascript
Table t = Table.read().db(ResultSet resultSet, String tableName);
```

Berikut ini adalah kode lengkap dengan menggunakan JDBC setup dari subuah database SQLLite. 

**Listing 11-6.** Import Data Dari Database
``` javascript
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.SQLException;
import java.util.Properties;
import java.sql.ResultSet;
import java.sql.Statement;

import tech.tablesaw.api.*;

Connection conn = null;
String DB_URL = "jdbc:sqlite:datasets/gradedata.db";

//if use windows OS use this statment
// String DB_URL ="jdbc:sqlite:D:\\db\\gradedata.db";


   try {
    
      Class.forName("org.sqlite.JDBC");

      conn = DriverManager.getConnection(DB_URL);    
      
        System.out.println("Koneksi ke SQLite DB has been established.");
          
    } catch ( Exception e ) {
    
       System.err.println( e.getClass().getName() + ": " + e.getMessage() );

       System.exit(0);
    }


Table dfTest = null; 

try (Statement stmt = conn.createStatement()) {
    
  String sql = "SELECT * FROM test";
    
  try (ResultSet results = stmt.executeQuery(sql)) {
      
       dfTest = Table.read().db(results, "test");
  }
    
}

System.out.println(dfTest.last(5)); 

```
#### Latihan 11-6
 1. Lakukan Eksekusi dari kode *Listing 11-6* pada pada bidang baris dibawah ini dan amatilah hasilnya. 

 2. Kemudian lakukan perubahan kode *Listing 11-6* untuk :
    * menampilkan jumlah record dari table test
    * menampilkan data record dari field person dengan nama John

In [2]:
//Latihan 11-6.1
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.SQLException;
import java.util.Properties;
import java.sql.ResultSet;
import java.sql.Statement;

import tech.tablesaw.api.*;

Connection conn = null;
String DB_URL = "jdbc:sqlite:datasets/gradedata.db";

//if use windows OS use this statment
// String DB_URL ="jdbc:sqlite:D:\\db\\gradedata.db";


   try {

      Class.forName("org.sqlite.JDBC");

      conn = DriverManager.getConnection(DB_URL);    

        System.out.println("Koneksi ke SQLite DB has been established.");

    } catch ( Exception e ) {

       System.err.println( e.getClass().getName() + ": " + e.getMessage() );

       System.exit(0);
    }


Table dfTest = null; 

try (Statement stmt = conn.createStatement()) {

  String sql = "SELECT * FROM test";

  try (ResultSet results = stmt.executeQuery(sql)) {

       dfTest = Table.read().db(results, "test");
  }

}

System.out.println(dfTest.last(5));

Koneksi ke SQLite DB has been established.
              test
 index  |   Names   |  Grades  |
--------------------------------
     0  |      Bob  |      76  |
     1  |  Jessica  |      95  |
     2  |     Mary  |      77  |
     3  |     John  |      78  |
     4  |      Mel  |      99  |

null

In [4]:
//Latihan 11-6.2
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.SQLException;
import java.util.Properties;
import java.sql.ResultSet;
import java.sql.Statement;

import tech.tablesaw.api.*;

Connection conn = null;
String DB_URL = "jdbc:sqlite:datasets/gradedata.db";

//if use windows OS use this statment
// String DB_URL ="jdbc:sqlite:D:\\db\\gradedata.db";


   try {

      Class.forName("org.sqlite.JDBC");

      conn = DriverManager.getConnection(DB_URL);    

        System.out.println("Koneksi ke SQLite DB has been established.");

    } catch ( Exception e ) {

       System.err.println( e.getClass().getName() + ": " + e.getMessage() );

       System.exit(0);
    }


Table dfTest = null; 

try (Statement stmt = conn.createStatement()) {

  String sql = "SELECT * FROM test WHERE Names LIKE '%John%'";

  try (ResultSet results = stmt.executeQuery(sql)) {

       dfTest = Table.read().db(results, "test");
  }

}

System.out.println(dfTest.first(5));

Koneksi ke SQLite DB has been established.
             test
 index  |  Names  |  Grades  |
------------------------------
     3  |   John  |      78  |

null

## I. Ektraksi Data Dari Suatu Website

*Web scraping* adalah proses ekstrasi data dari sebuah website. Salah satu contoh web scraping adalah meng-copy daftar contact dari sebuah web atau mendapatka data produk berikut atributnya dari sebuah website e-commerce bahkan kita bisa melakukan analisa data kompetitor.

Berikut ini adalah kode lengkap melakukan web scraping dari suatu halaman website. 

**Listing 11-7.** Memperoleh data hasil ekstrasi dari sebuah website

``` javascript
import org.jsoup.Jsoup;
import org.jsoup.nodes.Document;
import org.jsoup.nodes.Element;

final Document document = Jsoup.connect("http://www.imdb.com/chart/top").get();

for (Element row : document.select("table.chart.full-width tr")) {

        final String JudulFilm = row.select(".titleColumn a").text();
        final String Rating = row.select(".imdbRating").text();

        System.out.println(JudulFilm + " -> Rating: " + Rating);
}

```
#### Latihan 11-7
 1. Lakukan Eksekusi dari kode *Listing 11-7* pada pada bidang baris dibawah ini dan amatilah hasilnya. 
 2. Kemudian lakukan perubahan kode *Listing 11-7* untuk :
    * Buat objek data frame untuk menampung data - data film hasil ektraksi 
    * Tampilkan 20 besar film - film terlaris dari data frame yang anda buat

In [6]:
//Listing 11-7.1
import org.jsoup.Jsoup;
import org.jsoup.nodes.Document;
import org.jsoup.nodes.Element;

final Document document = Jsoup.connect("http://www.imdb.com/chart/top").get();

for (Element row : document.select("table.chart.full-width tr")) {

        final String JudulFilm = row.select(".titleColumn a").text();
        final String Rating = row.select(".imdbRating").text();

        System.out.println(JudulFilm + " -> Rating: " + Rating);
}

 -> Rating:
The Shawshank Redemption -> Rating: 9.2
The Godfather -> Rating: 9.1
The Godfather: Part II -> Rating: 9.0
The Dark Knight -> Rating: 9.0
12 Angry Men -> Rating: 8.9
Schindler's List -> Rating: 8.9
The Lord of the Rings: The Return of the King -> Rating: 8.9
Pulp Fiction -> Rating: 8.9
Il buono, il brutto, il cattivo -> Rating: 8.8
Fight Club -> Rating: 8.8
The Lord of the Rings: The Fellowship of the Ring -> Rating: 8.8
Forrest Gump -> Rating: 8.8
Inception -> Rating: 8.7
Star Wars: Episode V - The Empire Strikes Back -> Rating: 8.7
The Lord of the Rings: The Two Towers -> Rating: 8.7
The Matrix -> Rating: 8.6
Goodfellas -> Rating: 8.6
One Flew Over the Cuckoo's Nest -> Rating: 8.6
Shichinin no samurai -> Rating: 8.6
Se7en -> Rating: 8.6
Cidade de Deus -> Rating: 8.6
La vita è bella -> Rating: 8.6
The Silence of the Lambs -> Rating: 8.6
It's a Wonderful Life -> Rating: 8.6
Star Wars -> Rating: 8.6
Joker -> Rating: 8.6
Saving Private Ryan -> Rating: 8.5
Sen to Chihiro no kamikakushi -> Rating: 8.5
Gisaengchung -> Rating: 8.5
The Green Mile -> Rating: 8.5
Interstellar -> Rating: 8.5
Léon -> Rating: 8.5
Seppuku -> Rating: 8.5
The Usual Suspects -> Rating: 8.5
The Lion King -> Rating: 8.5
American History X -> Rating: 8.5
Back to the Future -> Rating: 8.5
The Pianist -> Rating: 8.5
Terminator 2: Judgment Day -> Rating: 8.5
Modern Times -> Rating: 8.5
Psycho -> Rating: 8.5
Gladiator -> Rating: 8.5
The Intouchables -> Rating: 8.5
City Lights -> Rating: 8.5
The Departed -> Rating: 8.5
Whiplash -> Rating: 8.5
Once Upon a Time in the West -> Rating: 8.5
The Prestige -> Rating: 8.5
Casablanca -> Rating: 8.4
Hotaru no haka -> Rating: 8.4
Rear Window -> Rating: 8.4
Nuovo Cinema Paradiso -> Rating: 8.4
Alien -> Rating: 8.4
Raiders of the Lost Ark -> Rating: 8.4
Apocalypse Now -> Rating: 8.4
Memento -> Rating: 8.4
The Great Dictator -> Rating: 8.4
The Lives of Others -> Rating: 8.4
Avengers: Endgame -> Rating: 8.4
Django Unchained -> Rating: 8.4
Avengers: Infinity War -> Rating: 8.4
The Shining -> Rating: 8.4
Paths of Glory -> Rating: 8.4
Spider-Man: Into the Spider-Verse -> Rating: 8.4
WALL·E -> Rating: 8.4
Sunset Blvd. -> Rating: 8.4
Mononoke-hime -> Rating: 8.4
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb -> Rating: 8.4
Oldeuboi -> Rating: 8.4
Witness for the Prosecution -> Rating: 8.3
The Dark Knight Rises -> Rating: 8.3
Once Upon a Time in America -> Rating: 8.3
Aliens -> Rating: 8.3
Kimi no na wa. -> Rating: 8.3
American Beauty -> Rating: 8.3
Coco -> Rating: 8.3
Braveheart -> Rating: 8.3
Das Boot -> Rating: 8.3
3 Idiots -> Rating: 8.3
Star Wars: Episode VI - Return of the Jedi -> Rating: 8.3
Taare Zameen Par -> Rating: 8.3
Toy Story -> Rating: 8.3
Amadeus -> Rating: 8.3
Reservoir Dogs -> Rating: 8.3
Inglourious Basterds -> Rating: 8.3
Good Will Hunting -> Rating: 8.3
2001: A Space Odyssey -> Rating: 8.3
M - Eine Stadt sucht einen Mörder -> Rating: 8.3
Requiem for a Dream -> Rating: 8.3
Vertigo -> Rating: 8.3
Dangal -> Rating: 8.3
Eternal Sunshine of the Spotless Mind -> Rating: 8.3
Citizen Kane -> Rating: 8.3
Jagten -> Rating: 8.3
Full Metal Jacket -> Rating: 8.3
North by Northwest -> Rating: 8.3
A Clockwork Orange -> Rating: 8.3
Snatch -> Rating: 8.3
The Kid -> Rating: 8.2
Ladri di biciclette -> Rating: 8.2
Amélie -> Rating: 8.2
Scarface -> Rating: 8.2
Singin' in the Rain -> Rating: 8.2
Taxi Driver -> Rating: 8.2
Lawrence of Arabia -> Rating: 8.2
Toy Story 3 -> Rating: 8.2
The Sting -> Rating: 8.2
Metropolis -> Rating: 8.2
Per qualche dollaro in più -> Rating: 8.2
Capharnaüm -> Rating: 8.2
Jodaeiye Nader az Simin -> Rating: 8.2
Double Indemnity -> Rating: 8.2
Ikiru -> Rating: 8.2
To Kill a Mockingbird -> Rating: 8.2
The Apartment -> Rating: 8.2
Indiana Jones and the Last Crusade -> Rating: 8.2
Up -> Rating: 8.2
Incendies -> Rating: 8.2
L.A. Confidential -> Rating: 8.2
Monty Python and the Holy Grail -> Rating: 8.2
Heat -> Rating: 8.2
Die Hard -> Rating: 8.2
Rashômon -> Rating: 8.2
Batman Begins -> Rating: 8.2
Yôjinbô -> Rating: 8.2
Unforgiven -> Rating: 8.2
Green Book -> Rating: 8.2
Der Untergang -> Rating: 8.2
Bacheha-Ye aseman -> Rating: 8.2
Ford v Ferrari -> Rating: 8.2
Some Like It Hot -> Rating: 8.2
Hauru no ugoku shiro -> Rating: 8.2
The Great Escape -> Rating: 8.2
Tonari no Totoro -> Rating: 8.2
Ran -> Rating: 8.2
A Beautiful Mind -> Rating: 8.2
All About Eve -> Rating: 8.2
Casino -> Rating: 8.2
Idi i smotri -> Rating: 8.2
Pan's Labyrinth -> Rating: 8.2
Raging Bull -> Rating: 8.2
El secreto de sus ojos -> Rating: 8.2
Lock, Stock and Two Smoking Barrels -> Rating: 8.2
The Wolf of Wall Street -> Rating: 8.1
The Treasure of the Sierra Madre -> Rating: 8.1
Judgment at Nuremberg -> Rating: 8.1
Three Billboards Outside Ebbing, Missouri -> Rating: 8.1
Babam ve Oglum -> Rating: 8.1
Chinatown -> Rating: 8.1
The Gold Rush -> Rating: 8.1
There Will Be Blood -> Rating: 8.1
Dial M for Murder -> Rating: 8.1
V for Vendetta -> Rating: 8.1
Inside Out -> Rating: 8.1
Det sjunde inseglet -> Rating: 8.1
Warrior -> Rating: 8.1
No Country for Old Men -> Rating: 8.1
Trainspotting -> Rating: 8.1
The Elephant Man -> Rating: 8.1
Room -> Rating: 8.1
Shutter Island -> Rating: 8.1
The Sixth Sense -> Rating: 8.1
The Thing -> Rating: 8.1
Gone with the Wind -> Rating: 8.1
The Bridge on the River Kwai -> Rating: 8.1
Blade Runner -> Rating: 8.1
The Third Man -> Rating: 8.1
Jurassic Park -> Rating: 8.1
Marriage Story -> Rating: 8.1
On the Waterfront -> Rating: 8.1
Finding Nemo -> Rating: 8.1
Smultronstället -> Rating: 8.1
Andhadhun -> Rating: 8.1
Fargo -> Rating: 8.1
Klaus -> Rating: 8.1
Gran Torino -> Rating: 8.1
Kill Bill: Vol. 1 -> Rating: 8.1
Eskiya -> Rating: 8.1
The Deer Hunter -> Rating: 8.1
Tôkyô monogatari -> Rating: 8.1
The Truman Show -> Rating: 8.1
Stalker -> Rating: 8.1
The Big Lebowski -> Rating: 8.1
Relatos salvajes -> Rating: 8.1
Mary and Max -> Rating: 8.1
In the Name of the Father -> Rating: 8.1
Gone Girl -> Rating: 8.1
Hacksaw Ridge -> Rating: 8.1
Salinui chueok -> Rating: 8.1
Mr. Smith Goes to Washington -> Rating: 8.1
How to Train Your Dragon -> Rating: 8.1
The General -> Rating: 8.1
The Grand Budapest Hotel -> Rating: 8.1
Sherlock Jr. -> Rating: 8.1
Persona -> Rating: 8.1
Before Sunrise -> Rating: 8.1
Catch Me If You Can -> Rating: 8.1
Prisoners -> Rating: 8.1
Cool Hand Luke -> Rating: 8.1
12 Years a Slave -> Rating: 8.1
Into the Wild -> Rating: 8.1
Le salaire de la peur -> Rating: 8.1
Network -> Rating: 8.1
Stand by Me -> Rating: 8.1
Life of Brian -> Rating: 8.1
Mad Max: Fury Road -> Rating: 8.1
Platoon -> Rating: 8.1
Barry Lyndon -> Rating: 8.1
La passion de Jeanne d'Arc -> Rating: 8.1
Million Dollar Baby -> Rating: 8.1
Hachi: A Dog's Tale -> Rating: 8.1
Rush -> Rating: 8.1
Logan -> Rating: 8.1
Rang De Basanti -> Rating: 8.1
Andrei Rublev -> Rating: 8.1
Ben-Hur -> Rating: 8.1
Kaze no tani no Naushika -> Rating: 8.0
Les quatre cents coups -> Rating: 8.0
Harry Potter and the Deathly Hallows: Part 2 -> Rating: 8.0
Hotel Rwanda -> Rating: 8.0
Amores perros -> Rating: 8.0
Dead Poets Society -> Rating: 8.0
The Irishman -> Rating: 8.0
Spotlight -> Rating: 8.0
The Red Shoes -> Rating: 8.0
Rebecca -> Rating: 8.0
Rocky -> Rating: 8.0
Ace in the Hole -> Rating: 8.0
Ah-ga-ssi -> Rating: 8.0
White Heat -> Rating: 8.0
Monsters, Inc. -> Rating: 8.0
It Happened One Night -> Rating: 8.0
La haine -> Rating: 8.0
Drishyam -> Rating: 8.0
Lagaan: Once Upon a Time in India -> Rating: 8.0
Gangs of Wasseypur -> Rating: 8.0
The Princess Bride -> Rating: 8.0
Before Sunset -> Rating: 8.0
Faa yeung nin wa -> Rating: 8.0
The Help -> Rating: 8.0
PK -> Rating: 8.0
Butch Cassidy and the Sundance Kid -> Rating: 8.0
The Terminator -> Rating: 8.0
Akira -> Rating: 8.0
Paris, Texas -> Rating: 8.0
Aladdin -> Rating: 8.0
La battaglia di Algeri -> Rating: 8.0
Guardians of the Galaxy -> Rating: 8.0
Tenkû no shiro Rapyuta -> Rating: 8.0
Contratiempo -> Rating: 8.0

null

In [37]:
//Listing 11-7.2
import org.jsoup.Jsoup;
import org.jsoup.nodes.Document;
import org.jsoup.nodes.Element;
import java.util.*;

final Document document = Jsoup.connect("http://www.imdb.com/chart/top").get();


for (Element row : document.select("table.chart.full-width tr")) {
        final String JudulFilm = row.select(".titleColumn a").text();
        final String Rating = row.select(".imdbRating").text();
    
  
    
//  String[] judulFilmArray = new String[20] {JudulFilm};
// String[] ratingArray = new String[20] {Rating};
    
//      String[] judulFilmArray = new String[20];
// String[] ratingArray = new String[20];
    List<String> listMovie = new ArrayList<String>();
    List<String> listRating = new ArrayList<String>();
    
    for(int i=0;i<19;i++) {
        final String JudulFilmArray = row.select(".titleColumn a").text();
        listMovie.add(JudulFilmArray);
        final String RatingArray = row.select(".imdbRating").text();
        listRating.add(RatingArray);

    }

    Table topMovie = Table.create("TOP MOVIE")
    .addColumns(StringColumn.create("JUDUL FILM",listMovie),
                StringColumn.create("RATING",listRating));


topMovie.write().csv("datasets/topmovie.csv");
}

null