> **Requirement**:
A. Semua kode pembahasan dari sub bab 10 sampai dengan sub bab 14 adalah  
  * 1 Implementasi dari library di https://jtablesaw.github.io/tablesaw/ anda bisa bisa mempelajari lebih lanjut websitenya 
  * 2 Menggunakan staterkit yang anda unduh di https://drive.google.com/drive/folders/15u8rMySh5lsHZhclxE6kMzWM4lxhIDVo?usp=sharing
  * 3 Tempatkan semua notebook file ke dalam staterkit yang ada di point 2 (sub bab 8-14)
  * 4 Lakukan eksekusi semua notebook file ke dalam staterkit yang ada di point 2 (sub bab 8-14)
  * 5 Tempatkan semua project notebook  yang ada di staterkit di direktory github anda setelah memastikan semua notebook tereksekusi

In [1]:
%%classpath add mvn
tech.tablesaw tablesaw-beakerx 0.35.0
com.jimmoores quandl-tablesaw 2.0.0
com.github.haifengl smile-core 1.5.2

In [2]:
%import static tech.tablesaw.aggregate.AggregateFunctions.*
%import tech.tablesaw.api.*
%import tech.tablesaw.columns.*
%import smile.clustering.*
%import smile.regression.*

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

null

# 10. Data Frame 

*  [A. Pengenalan](#A.-Pengenalan)
*  [B. Tables](#B.-Tables)
   * [1. Membuat Table](#B.1-Membuat-Table)
   * [2. Explore Table](#B.2-Exploring-Tables)
*  [C. Manipulasi Table](#C.-Manipulasi-Table)
    * [1. Manipulasi Kolom Tabel](#C.1-Manipulasi-Kolom-Table)
    * [2. Casting Kolom](#C.2-Casting-Kolom-Table)
    * [3. Manipulasi Baris Tabel](#C.3-Manipulasi-Baris)
    * [4. Sorting](#C.4-Sorting)
    * [5. Filtering](#C.5-Filtering)
*  [D. Exercise Data Frame](#Exercise-Data-Frame)

## A. Pengenalan
--------------
**Data Frame** yaitu sebuah koleksi kolom dan baris berurutan dengan memiliki nama dan jenis tertentu, sehingga seperti layaknya sebuah tabel yang tampak seperti database dimana sebuah baris tunggal mewakili sebuah contoh tunggal dan kolom mewakili atribut tertentu. Harus dicatat di sini bahwa elemen dalam berbagai kolom mungkin berapa jenis yang berbeda.
Seperti tipe data Hash dan List, Data Frame bisa menyimpan dengan tipe data berbeda

Berikut ini kegunaan utama dari sebuah tipe frame data. 
* Importing and exporting data from text files and databases
* Adding and removing columns
* Sorting
* Filtering
* Creating new columns by applying functions to existing ones (mapping) 
* Summarizing columns or tables (reducing)
* Combining tables by appending or joining
* Calculating descriptive statistics
* Adding, updating, and removing rows


## B. Tables
---------------
Tipe data **Tables** adalah aB.2 Exploring Tablesdalah sebuah *Data Frame*. Sebuah Table adalah kumpulan beberara kolom. Semua kolom dalam tabel harus memiliki jumlah elemen yang sama, meskipun data missing values diperbolehkan pada suatu elemennya. Dan sebuah table dapat berisi berbagai kombinasi tipe data. 

### B.1 Membuat Table 

Pada contoh dibawah ini kita dapat membuat tabel dan menambahkan dua kolom baru ke dalamnya. Kita dapat membuat sebuah tabel dengan kode sebagai berikut.

``` javascript
// display kompunen Tablesaw untuk objek tables dengan BeakerX table
tech.tablesaw.beakerx.TablesawDisplayer.register();

//Kolom animals bertipe aB.2 Exploring Tablesrray string
String[] animals = {"bear", "cat", "giraffe"};

//Kolom cuteness bertipe array double
double[] cuteness = {90.1, 84.3, 99.7};

//Inisialisasi pembuatan data frame Animals dengan Kolom animals dan Kolom cuteness
Table Animals = Table.create("Cute Animals")B.2 Exploring Tables
                     .addColumns(StringColumn.create("Animal types", animals),
		                         DoubleColumn.create("rating", cuteness));

``` 
### B.2 Exploring Tables

Berikut ini adalah kode lengkap untuk menciptakan data frame 

**Listing 10-1.**  Membuat Data Frame

``` javascript

import tech.tablesaw.api.*;


// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
String[] daftarbinatang = {"bear", "cat", "giraffe"};

//Kolom cuteness bertipe array double
double[] gradekelucuan = {90.1, 84.3, 99.7};

//Inisialisasi pembuatan data frame Animals dengan Kolom AnimalName dan Kolom Rating"
Table Binatang = Table.create("Cute Animals")
                     .addColumns(StringColumn.create("AnimalName", daftarbinatang),B.2 Exploring Tables
		                         DoubleColumn.create("Rating", gradekelucuan));

//Menampilkan data frame Binatang
System.out.println(Binatang);

for (Row row :  Binatang) {
  System.out.println("Baris " + row.getString("AnimalName") + ": " + row.getDouble("Rating"));
}

```
#### Latihan 10-1
Lakukan Eksekusi dari kode *Listing 10-1* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [11]:
//Latihan 10-1
import tech.tablesaw.api.*;


// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
String[] daftarbinatang = {"bear", "cat", "giraffe"};

//Kolom cuteness bertipe array double
double[] gradekelucuan = {90.1, 84.3, 99.7};

//Inisialisasi pembuatan data frame Animals dengan Kolom AnimalName dan Kolom Rating"
Table Binatang = Table.create("Cute Animals");
                     Binatang.addColumns(StringColumn.create("AnimalName", daftarbinatang),
                                        DoubleColumn.create("Rating", gradekelucuan));
                                 

//Menampilkan data frame Binatang
System.out.println(Binatang);

for (Row row :  Binatang) {
  System.out.println("Baris " + row.getString("AnimalName") + ": " + row.getDouble("Rating"));
}

      Cute Animals
 AnimalName  |  Rating  |
-------------------------
       bear  |    90.1  |
        cat  |    84.3  |
    giraffe  |    99.7  |
Baris bear: 90.1
Baris cat: 84.3
Baris giraffe: 99.7

null

### B.2 Exploring Tables

*Class Table* unggul dalam memanipulasi data - data tabel, kita menggunakannya kapan saja kita bisa. Ketika kita membutuhkan data tentang struktur tabel, Metode *structure()* akan kita panggil,  dan result yang dihasilkan dalam bentuk tabel lain berisi nama-nama kolom dari tabel tersebut dll.
Metode lain seperti ` shape(), first(n), dan last(n) `dapat membantu kita untuk mengetahui tentang dataset yang kita olah. Berikut ini adalah contohnya. 

``` javascript
System.out.println(Binatang.structure())
```

output yang dihasilkan dari perintah tersebut adalah sebagai berikut.

```
 Structure of Cute Animals         
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |  Animal types  |       STRING  |
     1  |        rating  |       DOUBLE  |
```

``` javascript
//Mengetahui matriks sebuah data Table 

System.out.println(Binatang.shape())

outputs :

3 rows X 2 cols


```

``` javascript
//Menampilkan menampilkan 3 baris data yang pertama dari data Table 

System.out.println(Binatang.first(2))

outputs :
       Cute Animals        
 Animal types  |  rating  |
---------------------------
          cat  |    84.3  |
```

``` javascript
//Menampilkan menampilkan 3 baris data yang terakhir dari data Table 

System.out.println(Binatang.last(1))

outputs :
       Cute Animals        
 Animal types  |  rating  |
---------------------------
      giraffe  |    99.7  |
```

Kita dapat menampilkan sejumlah baris secara default, tetapi kita juga bisa menggunakan *table.printAll()*, atau *table.print(n)* untuk mendapatkan output yang Anda inginkan.

## C. Manipulasi Table

### C.1 Manipulasi Kolom Table
Kadang - kadang kita memerlukan pemrosesan kolom - kolom yang spesifik dalam sebuah data Table. Berikut ini adalah method - method yang dibutuhkan.

```javascript
List<String> columnNames = table.columnNames(); // returns all column names
List<Column<?>> columns = table.columns(); // returns all the columns in the table

// removing columns
table.removeColumns("Foo"); // keep everything but "foo"
table.retainColumns("Foo", "BB.2 Exploring TablesB.2 Exploring Tablesar"); // only keep foo and bar
table.removeColumnsWithMissingValues();

// adding columns
table.addColumns(column1, column2, column3);
```

Class *Table* mempunyai sifat yang case sensitif pada penggunaan parameternya *kolom*, berikut ini adalah contohnya.

```javascript
table.column("FOO");
table.column("foo");
table.column("foO");

```
mengingat nama kolom sudah cukup menjadi beban tanpa harus mengingat persis karakter mana yang ditulis dengan huruf besar atau kecil. Maka kita bisa menggunakan method berikut tanpa harus mengetahui nama dari suatu colomn.

```javascript
table.column(0); // returns the first column
```


### C.2 Casting Kolom Table

Casting adalah perubahan type data ke type data lainnya dengan memperhatikan ukuran kapasitas di setiap type data. Type data yang sudah dijelaskan sebelumnya di Bahasa Java dalam Pemrograman.

contohnya adalah dari integer ke float, integer ke long, float ke double, dan seterusnya, maka dalam Casting yang terjadi adalah dari integer ke String, String ke integer, float ke String, String ke float dan masih banyak lagi sesuai dengan ketentuan yang ada di java.
Berikut contoh coding untuk merubah integer ke long:


```javascript

  int nilai= 60;
  String hasilCast = String.valueOf(nilai);//Casting dari int ke String
  System.out.println(hasilCast);

  int hasilCast2 = Integer.valueOf(nilai); // Casting dati String ke int
  System.out.println(hasilCast2);

```

Seperti halnya variable dasar kadang tipe data kolom yang ada tidak sesui dengan tipe data yang kita butuhkan. Sebagai contoh kita ingin melakukan komputasi atau penghitungan dari sebuah kolom yang bertipe *String* atau *char*. Padahal tipe data tersebut kita tidak bisa melakukan perhitungan aritmetik terhadap anggota kolom tersebut. Hal yang dapat kita lakukan adalah melakukan prosedur casting dari kolom tersebut. 



### C.3 Manipulasi Baris Tabel

Sebagaimana **column** dalam data frame disediakan fungsi - fungsi atau method yang digunakan unutuk manipulasi **row** atau baris.

```java

// drop rows using Selections
result = table.dropWhere(table.numberColumn(0).isLessThan(100));

// add rows
destinationTable.addRow(43, sourceTable); // adds row 43 from sourceTable to the receiver

// sampling
table.sampleN(200); // select 200 rows at random from table
```

Kita juga bisa melakukan *arbitrary operations* pada tiap -tiap baris pada sebuah table. Dengan sebuah iterasi kita bisa melakukan operasi terhadap baris seperti contoh berikut.

```java

for (Row row :  Binatang) {
  System.out.println("Baris " + row.getString("AnimalName") + ": " + row.getDouble("Rating"));
}

```

Atau kita bisa mengakses isi data pada tiap cell dari sebuah baris dengan menggunakan iterasi.

```java
table.stream()
    .forEach(
        row -> {
          System.out.println("On " + row.getDate("date") + ": " + row.getDouble("approval"));
        });
```

Berikut methoda yang bisa dilakukan untuk memproses suatu baris atau lebih dalam suatu waktu.
If you need to process more than one row at a time, there are several methods to help. 

```javascript
// Consumer prints out the max of a window.
Consumer<Row[]> consumer =
    rows ->
        System.out.println(Arrays.stream(rows).mapToDouble(row -> row.getDouble(0)).max());

// Streams over rolling sets of rows. I.e. 0 to n-1, 1 to n, 2 to n+1, etc.
table.rollingStream(3).forEach(consumer);

// Streams over stepped sets of rows. I.e. 0 to n-1, n to 2n-1, 2n to 3n-1, etc. Only returns
// full sets of rows.
table.steppingStream(5).forEach(consumer);
```

### C.4 Sorting
Untuk pengurutan (sort) dari suatu Table kita bisa memanggil methoda `sortOn()` dengan parameter colomn.  

```javascript
Table sorted = table.sortOn("foo", "bar", "bam"); // Sorts Ascending by Default
sorted = table.sortAscendingOn("bar"); // just like sortOn(), but makes the order explicit.
sorted = table.sortDescendingOn("foo");

// sort on foo ascending, then bar descending. Note the minus sign preceding the name of
// column bar.
sorted = table.sortOn("foo", "-bar");
```


### C.5 Filtering

Filtering digunakan ketika kita ingin mencari suatu data tertentu dalam sebuah Table. Kita juga bisa mengkombinasikan Query filter methoda dengan operasi logika
seperti *and*, *or*, and *not*. Semua kemapuan tersebut diatas diimplementasikan dalam class `QuerySupport`. 

```javascript
import static tech.tablesaw.api.QuerySupport.and;
import static tech.tablesaw.api.QuerySupport.or;
import static tech.tablesaw.api.QuerySupport.not;
```

Setiap method atau fungsi dalam mengimplentasikan kemampuan tata struktur *Lambadas* dengan sintaks `Function<Table, Selection>` sebagaimana contoh berikut.

```javascript
Table result =
    table.where(
        and(
            or(
                t -> t.doubleColumn("nc1").isGreaterThan(4),
                t -> t.doubleColumn("nc1").isNegative()
                ),
            not(t -> t.doubleColumn("nc2").isLessThanOrEqualTo(5))));
```

## Tugas Data Frame
---------------
**Listing 10-2.**   Membuat Data Frame
What will be the output of the program ?

``` javascript
//Program BinatangPeliharaanLucu

import tech.tablesaw.api.*;

        //1. Membuat variable vector binatang
 
        String[] binatang = {"Kucing", "Anjing", "Kelinci", "Burung", "Ular"};
        
		//2. Membuat variable vector tingkatkelucuan        
		double[] tingkatkelucuan = {90.1, 84.3, 99.7, 80.4 , 40.4 };

		//3. Membuat data frame BinatangPeliharaanLucu dari kedua vector di atas
        Table BinatangPeliharaanLucu = Table.create("Binatang Peliharaan")
	          .addColumns(
		                   StringColumn.create("Jenis Binatang", binatang),
		                   DoubleColumn.create("Rating", tingkatkelucuan));
						   
		//4. Menampilkan strukture data frame BinatangPeliharaanLucu        

        System.out.println(BinatangPeliharaanLucu.structure());  
       
	    //5. Menampilkan isi data frame BinatangPeliharaanLucu

        BinatangPeliharaanLucu.setName("Data Tingkat Kelucuan Binatang Peliharaan");
        System.out.println(BinatangPeliharaanLucu.print());

	    //6. Mencari Rerata kolom Rating data frame BinatangPeliharaanLucu

        BinatangPeliharaanLucu.setName("Rerata Kelucuan Binatang Peliharaan");       
        System.out.println(BinatangPeliharaanLucu.summarize("Rating", mean, sum, 
                           min, max).apply());
         

```
#### Latihan 10-2
Lakukan Eksekusi dari kode *Listing 10-1* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [7]:
//Listing 10-2
//Program BinatangPeliharaanLucu

import tech.tablesaw.api.*;

        //1. Membuat variable vector binatang

        String[] binatang = {"Kucing", "Anjing", "Kelinci", "Burung", "Ular"};

        //2. Membuat variable vector tingkatkelucuan        
        double[] tingkatkelucuan = {90.1, 84.3, 99.7, 80.4 , 40.4 };

        //3. Membuat data frame BinatangPeliharaanLucu dari kedua vector di atas
        Table BinatangPeliharaanLucu = Table.create("Binatang Peliharaan")
              .addColumns(
                           StringColumn.create("Jenis Binatang", binatang),
                           DoubleColumn.create("Rating", tingkatkelucuan));

        //4. Menampilkan strukture data frame BinatangPeliharaanLucu        

        System.out.println(BinatangPeliharaanLucu.structure());  

        //5. Menampilkan isi data frame BinatangPeliharaanLucu

        BinatangPeliharaanLucu.setName("Data Tingkat Kelucuan Binatang Peliharaan");
        System.out.println(BinatangPeliharaanLucu.print());

        //6. Mencari Rerata kolom Rating data frame BinatangPeliharaanLucu

        BinatangPeliharaanLucu.setName("Rerata Kelucuan Binatang Peliharaan");       
        System.out.println(BinatangPeliharaanLucu.summarize("Rating", mean, sum, 
                           min, max).apply());

      Structure of Binatang Peliharaan
 Index  |   Column Name    |  Column Type  |
--------------------------------------------
     0  |  Jenis Binatang  |       STRING  |
     1  |          Rating  |       DOUBLE  |
Data Tingkat Kelucuan Binatang Peliharaan
 Jenis Binatang  |  Rating  |
-----------------------------
         Kucing  |    90.1  |
         Anjing  |    84.3  |
        Kelinci  |    99.7  |
         Burung  |    80.4  |
           Ular  |    40.4  |
            Rerata Kelucuan Binatang Peliharaan summary
 Mean [Rating]  |  Sum [Rating]  |  Min [Rating]  |  Max [Rating]  |
--------------------------------------------------------------------
         78.98  |         394.9  |          40.4  |          99.7  |

null

**Listing 10-3.**   Pseudocode Membuat Data Frame

Create application using this pseudocode algorithm :

``` javascript

//1. Buatlah variable vector fakultas dengan algoritma sebagai berikut :
//fakultas <- ("Bisnis", "D3 Perhotelan", "ICT", "Ilmu Komunikasi", "Seni dan Desain")

//2. Buatlah variable vector jumlah_mahasiswa dengan algoritma sebagai berikut :
//jumlah_mahasiswa <- (260, 28, 284, 465, 735)

//3. Butalah data frame info_mahasiswa dari kedua vector di atas

//4. Tampilkanlah strukture data frame info_mahasiswa        

//5. Menampilkan isi data frame info_mahasiswa

//6. Mencari Rerata kolom Rating data frame info_mahasiswa untuk data mean, sum, min, max
```

 #### Latihan 10-3
Buatlah aplikasi untuk implementasi data frame sesuai dengan pseudo code *Listing 10-3* pada pada bidang baris dibawah ini

In [17]:
//Listing 10-3
import tech.tablesaw.api.*;

//variable vector
String[] fakultas = {"Bisnis","D3 Perhotelan","ICT","Ilmu Komunikasi","Seni dan Desain"};
int[] jumlah_mahasiswa = {260,28,284,465,735};

//data frame
Table infoMahasiswa = Table.create("info_mahasiswa")
    .addColumns(StringColumn.create("FAKULTAS",fakultas),
               DoubleColumn.create("JUMLAH MAHASISWA",jumlah_mahasiswa));

//view struktur data frame
System.out.println(infoMahasiswa.structure());
System.out.println("=======================");


//view data frame
infoMahasiswa.setName("INFO MAHASISWA");
System.out.println(infoMahasiswa.print());
System.out.println("=======================");

//rerata info mahasiswa
System.out.println(infoMahasiswa.summarize("JUMLAH MAHASISWA",mean,sum,min,max).apply());

         Structure of info_mahasiswa
 Index  |    Column Name     |  Column Type  |
----------------------------------------------
     0  |          FAKULTAS  |       STRING  |
     1  |  JUMLAH MAHASISWA  |       DOUBLE  |
=======================
             INFO MAHASISWA
    FAKULTAS      |  JUMLAH MAHASISWA  |
----------------------------------------
          Bisnis  |               260  |
   D3 Perhotelan  |                28  |
             ICT  |               284  |
 Ilmu Komunikasi  |               465  |
 Seni dan Desain  |               735  |
=======================
                                           INFO MAHASISWA summary
 Mean [JUMLAH MAHASISWA]  |  Sum [JUMLAH MAHASISWA]  |  Min [JUMLAH MAHASISWA]  |  Max [JUMLAH MAHASISWA]  |
------------------------------------------------------------------------------------------------------------
                   354.4  |                    1772  |                      28  |                     735  |

null